/* ELEMENTS */

:root {
    --color-green: #38AF90;
    --color-white: #FFFFFF;
    --color-light-gray: #F0F0F0;
    --color-dark-gray: #383838;
    --color-gray: #797979;
    --color-red: ##DD7E92;

}